body{
    background-color: rgb(70, 161, 235);
}

#mainWrapper{
    width: 960px;
    background-color: azure;
    margin-left: 300px;
}

#banner{
    height: 100px;
    background-color: rgb(187, 75, 10);
}

img{
    padding-left: 300px;
}

#nav{
    margin-top: 60px;
    width: 180px;
    height: auto;
    padding: 0;
    background-color: green;
    float: left;

}

#navlist2{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

#navlist2 a{
    line-height: 30px;
    padding: 12px;
    color: white;
    text-decoration: none;
}
#navlist2 a:hover{
    color: orange;
}

#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    
}

#nav li{
    float: left;
    padding-right: 50px;
    color: black;
   
}



#nav a{
    text-decoration: none;
}

h1{
    padding-top: 100px;
    margin-left: 250px;   
}

#firstP{
    margin-top: 50px;
}



#content{
    margin-left: 20px;
}

#footer{
    height: 30px;
    background-color: rgb(187, 75, 10);
}